<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sản phẩm</title>
  <th:block th:insert="~{layout/layout::library}"/>
</head>
<body class="bg-light">
<div class="container mt-5">
  <h2 class="text-center mb-4">Post Management</h2>
  <div class="d-flex justify-content-between mb-3">
    <h5>Danh sách bài viết</h5>
    <a class="btn btn-sm btn-success" href="/posts/add">
      Thêm sản phẩm
    </a>
  </div>

  <form action="/posts" method="get" class="d-flex mb-3 gap-2">
    <div class="row g-2 align-items-end">
      <div class="col-md-3">
        <label class="form-label small">Từ khóa (Tiêu đề / Nội dung)</label>
        <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="Nhập từ khóa tìm kiếm...">
      </div>
      <div class="col-md-3">
        <label class="form-label small">Từ ngày</label>
        <input type="date" class="form-control" name="fromDate" th:value="${fromDate}">
      </div>
      <div class="col-md-3">
        <label class="form-label small">Đến ngày</label>
        <input type="date" class="form-control" name="toDate" th:value="${toDate}">
      </div>
      <div class="col-md-3">
        <label class="form-label small">Tìm</label>
        <button type="submit" class="btn btn-primary">Tìm</button>
      </div>
    </div>
  </form>

  <div class="mb-3 d-flex flex-wrap gap-2 align-items-center">
     <span class="fw-semibold">Lọc category:</span>
    <a th:href="@{/posts(keyword=${keyword}, fromDate=${fromDate}, toDate = ${toDate})}"
      th:classappend="${categoryId == null} ? 'btn-dark' : 'btn-outline-dark'" class="btn btn-sm">Tất cả</a>
    <a th:each="cat : ${categories}"
      th:href="@{/posts(keyword=${keyword}, categoryId=${cat.id}, fromDate = ${fromDate}, toDate = ${toDate})}"
      th:text="${cat.name}"
      th:classappend="${categoryId == cat.id} ? 'btn-primary' : 'btn-outline-primary'"
      class="btn btn-sm"></a>
  </div>

  <div th:if="${mess}" class="alert alert-info alert-dismissible fade show">
    <span th:text="${mess}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div class="row g-4">
    <div class="col-md-6 col-ld-4" th:each="p : ${postsPage}">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold" th:text="${p.title}"></h5>
          <span class="badge bg-primary mb-2" th:text="${p.categories.name}"></span>
          <p class="card-text text-muted" th:text="${#strings.abbreviate(p.content, 100)}"></p>
          <div class="small text-secondary mt-auto">
            <p class="mb-1">
              <strong>Author:</strong>
              <span th:text="${p.authors.name}"></span>
            </p>
            <p class="mb-1">
              <strong>Created:</strong>
              <span th:text="${#temporals.format(p.createdAt, 'dd/MM/yyyy')}"></span>
            </p>
            <p class="mb-2">
              <strong>Updated:</strong>
              <span th:text="${#temporals.format(p.updatedAt, 'dd/MM/yyyy')}"></span>
            </p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <a th:href="@{/posts/detail(id=${p.getId()})}" class="btn btn-sm btn-info btn-warning text-white">Detail</a>
            <a th:href="@{/posts/edit/{id}(id=${p.getId()})}" class="btn btn-sm btn-warning">Edit</a>
            <button class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    th:data-id="${p.id}"
                    th:data-name="${p.title}"
                    onclick="getInfoDelete(this)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <a th:if="${postsPage.hasPrevious()}"
       class="btn btn-sm btn-primary"
       th:href="@{/posts(page=${postsPage.number - 1},
                    keyword=${keyword},
                    categoryId=${categoryId},
                    fromDate=${fromDate},
                    toDate=${toDate})}">
      Previous
    </a>
    <span th:text="${postsPage.number + 1}"></span>/<span th:text="${postsPage.totalPages}"></span>
    <a th:if="${postsPage.hasNext()}"
       class="btn btn-sm btn-primary"
       th:href="@{/posts(page=${postsPage.number + 1},
                    keyword=${keyword},
                    categoryId=${categoryId},
                    fromDate=${fromDate},
                    toDate=${toDate})}">
      Next
    </a>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/posts/delete" method="post">
      <input type="hidden" name="action" value="delete">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input hidden="hidden" name="deleteId" id="deleteId">
          <span>Bạn có muốn xoá blog </span><span class="text-danger" id="deleteName"></span> không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
          <button type="submit" class="btn btn-primary">Chấp nhận xoá</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  function getInfoDelete(button){
    const id = button.getAttribute("data-id");
    const title = button.getAttribute("data-name");

    document.getElementById("deleteId").value = id;
    document.getElementById("deleteName").innerText = title;
  }
</script>
</body>
</html>